<!doctype html>
<html lang="fr" ng-app="agileApp">

<head>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>
<script src="bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>

 
<script src="app.js"></script>

<script src="dao/daoProjects.js"></script>

 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<script src="controller/projectsController.js"></script>
<script src="controller/projectController.js"></script>
<script src="controller/addProjectController.js"></script>
<script src="controller/addSprintController.js"></script>

<link rel=stylesheet type="text/css" href="view/projects.css"> 
<link rel=stylesheet type="text/css" href="view/project.css"> 
<link rel=stylesheet type="text/css" href="bower_components/ngDialog/css/ngDialog.css">
	<link rel=stylesheet type="text/css" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
	<link rel=stylesheet type="text/css" href="bower_components/ngQuickDate/dist/ng-quick-date.css">
	<link rel=stylesheet type="text/css" href="bower_components/ngQuickDate/dist/ng-quick-date-plus-default-theme.css">
<title>Agile</title>


</head>
<body  ng-controller="projectsCtrl" ui-view>
<!-- <div ng-repeat="p in projects"> 
<h1> {{p.name}}</h1>
</div> -->
</body>
</html>