<div id="add-project-dialog">
	<h1>Ajout d'un projet</h1>

 
	<table style="width: 100%">
		<tr>
			<td><span>Nom</span></td>
			<td>
		<input type="text" ng-model="addProject.name">
			</td></tr>

		<tr>
			<td><span>Date début</span></td>
			<td><quick-datepicker ng-model='addProject.startDate'
					date-format='dd/MM/yyyy' placeholder='Sélectionner'
					disable-timepicker='true'> </quick-datepicker></td>
		</tr>


		<tr>
			<td><span>Date fin</span></td>
			<td><quick-datepicker ng-model='addProject.endDate'
					date-format='dd/MM/yyyy' placeholder='Sélectionner'
					disable-timepicker='true'> </quick-datepicker></td>
		</tr>


		<tr>
			<td><span id="project-desc">Description</span></td>
			<td><textarea ng-model="addProject.description"></textarea></td>
		</tr>

		<tr>
			<td><button class="btn" ng-click="validateAddProject(addProject)">Valider</button></td>
		</tr>

	</table>
</div>
