 
 <div id="add-sprint-dialog"    >
	<h1>Ajout d'un Tâche</h1>


	<table style="width: 100%">
		<tr>
			<td><span>Nom</span></td>
			<td><input type="text" ng-model="addTask.name"></td>
		</tr>

		<tr>
			<td><span>Date début</span></td>
			<td><quick-datepicker ng-model='addTask.startDate'
					date-format='dd/MM/yyyy' placeholder='Sélectionner'
					disable-timepicker='true'> </quick-datepicker></td>
		</tr>


		<tr>
			<td><span>Date fin</span></td>
			<td><quick-datepicker ng-model='addTask.endDate'
					date-format='dd/MM/yyyy' placeholder='Sélectionner'
					disable-timepicker='true'> </quick-datepicker></td>
		</tr>


		<tr>
			<td><span id="sprint-com">Commentaire</span></td>
			<td><textarea ng-model="addTask.comment"></textarea></td>
		</tr>

 
		<tr>
			<td><button class="btn" ng-click="validateAddTask(addTask)">Valider</button></td>
		</tr>

	</table>
 

</div>
  