section#right {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 80%;
	background: #FFFFFF;
	border-left: 1px solid #AAA;
}

section#right h1 {
	text-align: center;
	margin: 3px;
	font-size: 20px;
}


select {
   margin:  0px;
    border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: url(../images/choose.ico) 96% / 15% no-repeat #eee;
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}

#project-sprints, #sprint-tasks {
	position: absolute;
	top: 40px;
	bottom: 0px; width : 50%;
	text-align: center;
	width: 50%;
}

#project-sprints {
	left: 0px;
}

#sprint-tasks {
	right: 0px;
}

#project-sprints span:first-child, #sprint-tasks span {
	font-size: 16px;
}

#project-sprints span{
	font-size: 14px;
}

#project-sprints ul, #sprint-tasks ul {
	overflow-y: auto;
	padding: 0px;
	margin: 10px;
	text-align: left;
	max-height: calc(100% - 67px);
}

#project-sprints ul > li, #sprint-tasks ul > li {
	border: 1px solid #000;
	padding: 3px;
	background: linear-gradient(#FFFFFF, #F6F6F6);
	border-color: #DDD;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	color: #333;
}

#project-sprints ul > li:first-child, #sprint-tasks ul > li:first-child {
	border-top-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#project-sprints ul > li:last-child, #sprint-tasks ul > li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#project-sprints ul > li span:first-child, #sprint-tasks ul > li span:first-child {
	font-weight: bold;
}

#project-sprints ul > li span:last-child, #sprint-tasks ul > li span:last-child {
	display: block;
	margin-left:8px;
	font-size: 15px;
}

#project-sprints ul > li img {
	float: right;
	cursor: pointer;
	opacity: 0.7;
}
#sprint-tasks ul > li img {
	float: right;
	cursor: pointer;
	opacity: 0.7;
}
#project-sprints div {
	display: inline-block;
}

