<!-- List of projects -->
 <section id="left">
	
	<ul id="list-projects">
		<li class="project-elem" ng-repeat="project in projects" ui-sref="projects.item({projectId: project.id})" ng-class="{selected: idSelectedProject == project.id}">
			<span>{{project.name}}</span>
			<span> - {{project.description}}</span>
		</li>
	</ul>
	<button class="btn" ng-dialog="view/addProject.html" ng-dialog-controller="addProjectCtrl">Ajouter</button>
	
</section>

<section id="right" ui-view></section> <!-- Project detail -->



